akka {
  remote {
    compression-scheme = "zlib"
    zlib-compression-level = 9
    
    server {
      service = on
      hostname = "kira"
      port = 9998
      connection-timeout = 1000 # in millis
    }
  }
}
